<!doctype html>  <!--the initial declaration of the document-->
<html lang="en">
  <head>    <!-- head section is where all the basic parameters of the page go; most of those are not going to be shown on the screen; they just define what’s going on under the hood -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- tells the browser to display the web page at the width of the device it’s being displayed on and helps sites reformat across wide desktop displays and narrow mobile screens.-->
    <title>register</title>   <!-- the title of the page; this is what people will see in the title bar of their browsers-->
  </head>
  <body>    <!--section where you’re going to be including all the content that’s meant to appear on the page-->
    <div>
      <form method = "post">
        <label>NAME:</label><br>
        <input name = "one" type = "text" id = "name"> <br><br>
        <label>EMAIL/USERNAME:</label><br>
        <input name = "two" type = "email" id = "username"> <br><br>
        <label>PASSWORD:</label><br>
        <input type= "password" name = "three" id = "password"><br><br>
        <input type= "submit" value ="CREATE USER">
      </form>
  </body>
</html>